body {
    background-color: azure;
    font-family: 'Raleway', sans-serif;
}

header {
    background-image: url(/assets/img/codigo.jpg);
}

#Mis-trabajos {
    background-color: brown;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}