body {
    background-color: azure;
    font-family: 'Raleway', sans-serif;
    /* efecto parrallax */
    background-image: url("../img/handshake-3382503_960_720.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    background-image: url("../img/codigo.jpg");
    margin-bottom: 20%;
}

#miEstiloModal {
    overflow: auto;
}

#miEstiloModal img {
    float: left;
    width: 50%;
}

#logos {
    width: 10%;
}

#codigo2 {
    width: 75%;
}

#codigo3 {
    width: 60%;
}

#logo-js {
    width: 70%;
}

#logo-nodejs {
    width: 50%;
}

#Mis-trabajos {
    /* efecto parallax */
    background-image: url("../img/woman-865021_960_720.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20%;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 20%;
}